
:host ::ng-deep .ant-card-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.custom-card {
    
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.019);
  
}

.winner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    color: #f05913;
    
}
.winner-text{
    padding: 10px;
}
.wt{
    padding: 10px;
    border: 1px #f05913 solid;
}

::ng-deep .custom-card .ant-card-cover img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 180px;
    object-fit: cover;
}


::ng-deep .custom-card .ant-card-actions {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background: #fafafa;
}

