.filter-form {
    display: flex;
    align-items: center;
    gap: 8px;
}

.filter-select {
    min-width: 160px;
}

.actions {
    display: flex;
    gap: 8px;
    margin-left: auto;
}


nz-select {
    width: 240px;
}

nz-divider {
    margin: 4px 0;
}

.container {
    display: flex;
    justify-content: center;
   align-items: center;
   width: 90%;
}
