.filter-form {
    display: flex;
    align-items: center;
    gap: 8px;
}

.filter-select {
    min-width: 200px;
}

.actions {
    display: flex;
    gap: 8px;
    margin-left: auto;
}


nz-select {
    width: 200px;
}

nz-divider {
    margin: 4px 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}


.option-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

