.page-container {
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f0f2f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 25px;
}


.view-section {
  padding: 16px; 
}

