.order-desc {
  padding: 18px 14px;

}

.admin-panel {
  display: flex;
  flex-direction: column;
}


.admin-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 16px;
  border-radius: 8px;
  align-content: center;
}

.label {
  font-size: 12px;
  color: #8c8c8c;
  margin-bottom: 4px;
}

.price {
  font-size: 18px;
  font-weight: 600;
//   color: #52c41a;
}


.admin-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}


.value {
  font-weight: 500;
  color: #151515;
}

.muted {
  font-size: 12px;
  color: #151515;
}

