
.qty-input {
  width: 100%;
}

.action-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.quantity-viewer {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
  background: #fff;
  vertical-align: top;
  font-weight: 600;
  min-width: 45px;
  text-align: center;
}


nz-input-group {
  display: flex;
  align-items: center;
}