      .register-form {
        max-width: 300px;
      }

      .register-form-margin {
        margin-bottom: 16px;
      }


      .register-form-button {
        width: 100%;
      }

      .register-area {
        margin-bottom: 8px;
      }