:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.register-form {

  width: 90%;
}

.register-form-margin {
  margin-bottom: 16px;
}


.register-form-button {
  width: 100%;
}

.register-area {
  margin-bottom: 8px;
}