.page-container {
  padding: 24px;     
  max-width: 1200px;  
  margin: 0 auto;    
  background-color: #f0f2f5; 
  min-height: 100vh;
}

.filters-section{
  background: #ffffff;
  padding: 16px;      
  border-radius: 8px; 
}

.add-prize-section{
  margin-top: 16px;
  margin-bottom: 16px;
}